<!DOCTYPE html>
<html>
  <head>
    <title>ManageBudget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <section class="body">
    <div class="box">

    <h1>Add A New Category</h1>

<%= form_with model: @group do |f| %>
      
  <div class="mb-3">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: "form-control"%>
  </div>

  <div class="mb-3">
      <%= f.label :icon %>
      <%= f.text_field :icon, required: true, class: "form-control"%>
  </div>

  <div class="mb-3">
      <%= f.submit "Create Category", class: "first-btn" %>
  </div>
      
<% end %>
<%= link_to '/', :remote => true do %>
  <input type="button" class="first-btn" value="Back">
<% end %>

</div>
</section>
  </body>
</html>